/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}



.badge {
    background-color: rgba(189, 116, 24, 0.6);
    color: white;
}

.text-warning {
    color: #BD7418 !important;
}

.text-secondary {
    color: #425F4B !important;
}

.text-primary {
    color: #192E2F !important;
}

.text-success {
    color: #4b7147 !important;
}

.bg-primary {
    background-color: #192E2F !important;
}

.bg-secondary {
    background-color: #3A595C !important;
}

bg-success {
    background-color: #4b7147 !important;
}



.card {
    border-color: #425F4B !important;
}



/* btn-outline-primary */



.btn-outline-primary {
    color: #192E2F;
    border-color: #192E2F;
}



    .btn-outline-primary:hover {
        color: #fff;
        background-color: #192E2F;
        border-color: #192E2F;
    }



    .btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
        box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
    }



    .btn-check:checked + .btn-outline-primary,
    .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
        color: #fff;
        background-color: #192E2F;
        border-color: #192E2F;
    }



        .btn-check:checked + .btn-outline-primary:focus,
        .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
        }



    .btn-outline-primary:disabled, .btn-outline-primary.disabled {
        color: #192E2F;
        background-color: transparent;
    }


.btn-outline-warning {
    color: #C07b24;
    border-color: #C07b24;
}



    .btn-outline-warning:hover {
        color: #fff;
        background-color: #C07b24;
        border-color: #C07b24;
    }



    .btn-check:focus + .btn-outline-warning, .btn-outline-warning:focus {
        box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
    }



    .btn-check:checked + .btn-outline-warning,
    .btn-check:active + .btn-outline-warning, .btn-outline-warning:active, .btn-outline-warning.active, .btn-outline-warning.dropdown-toggle.show {
        color: #fff;
        background-color: #C07b24;
        border-color: #C07b24;
    }



        .btn-check:checked + .btn-outline-warning:focus,
        .btn-check:active + .btn-outline-warning:focus, .btn-outline-warning:active:focus, .btn-outline-warning.active:focus, .btn-outline-warning.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
        }



    .btn-outline-warning:disabled, .btn-outline-warning.disabled {
        color: #C07b24;
        background-color: transparent;
    }



.btn-outline-secondary {
    color: #134b5f;
    border-color: #134b5f;
}



    .btn-outline-secondary:hover {
        color: #fff;
        background-color: #134b5f;
        border-color: #134b5f;
    }



    .btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus {
        box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
    }



    .btn-check:checked + .btn-outline-secondary,
    .btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
        color: #fff;
        background-color: #134b5f;
        border-color: #134b5f;
    }



        .btn-check:checked + .btn-outline-secondary:focus,
        .btn-check:active + .btn-outline-secondary:focus, .btn-outline-secondary:active:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
        }



    .btn-outline-secondary:disabled, .btn-outline-secondary.disabled {
        color: #134b5f;
        background-color: transparent;
    }




/* btn-primary */



.btn-primary {
    color: #fff;
    background-color: #192E2F;
    border-color: #192E2F;
}



    .btn-primary:hover {
        color: #fff;
        background-color: #445f5e;
        border-color: #445f5e;
    }



    .btn-check:focus + .btn-primary, .btn-primary:focus {
        color: #fff;
        background-color: #445f5e;
        border-color: #445f5e;
        box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
    }



    .btn-check:checked + .btn-primary,
    .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active,
    .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #445f5e;
        border-color: #445f5e;
    }



        .btn-check:checked + .btn-primary:focus,
        .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus,
        .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
        }



    .btn-primary:disabled, .btn-primary.disabled {
        color: #fff;
        background-color: #445f5e;
        border-color: #445f5e;
    }


.btn-danger {
    color: #fff;
    background-color: #CA1929;
    border-color: #CA1929;
}



    .btn-danger:hover {
        color: #fff;
        background-color: #b84743;
        border-color: #ae423f;
    }



    .btn-check:focus + .btn-danger, .btn-danger:focus {
        color: #fff;
        background-color: #d9534f;
        ;
        border-color: #d9534f;
        ;
        box-shadow: 0 0 0 0.25rem rgba(223, 109, 105, 0.5);
    }



    .btn-check:checked + .btn-danger,
    .btn-check:active + .btn-danger, .btn-danger:active, .btn-danger.active,
    .show > .btn-danger.dropdown-toggle {
        color: #fff;
        background-color: #b84743;
        border-color: #b84743;
    }



        .btn-check:checked + .btn-danger:focus,
        .btn-check:active + .btn-danger:focus, .btn-danger:active:focus, .btn-danger.active:focus,
        .show > .btn-danger.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(223, 109, 105, 0.5);
        }



    .btn-danger:disabled, .btn-danger.disabled {
        color: #fff;
        background-color: #b84743;
        border-color: #b84743;
    }





.btn-secondary {
    color: #fff;
    background-color: #134b5f;
    border-color: #134b5f;
}



    .btn-secondary:hover {
        color: #fff;
        background-color: #1a6985;
        border-color: #1a6985;
    }



    .btn-check:focus + .btn-secondary, .btn-secondary:focus {
        color: #fff;
        background-color: #1a6985;
        border-color: #1a6985;
        box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
    }



    .btn-check:checked + .btn-secondary,
    .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active,
    .show > .btn-secondary.dropdown-toggle {
        color: #fff;
        background-color: #1a6985;
        border-color: #1a6985;
    }



        .btn-check:checked + .btn-secondary:focus,
        .btn-check:active + .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary.active:focus,
        .show > .btn-secondary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
        }



    .btn-secondary:disabled, .btn-secondary.disabled {
        color: #fff;
        background-color: #1a6985;
        border-color: #1a6985;
    }




.btn-warning {
    color: #fff;
    background-color: #BD7418;
    border-color: #BD7418;
}



    .btn-warning:hover {
        color: #fff;
        background-color: #c6883a;
        border-color: #c6883a;
    }



    .btn-check:focus + .btn-warning, .btn-warning:focus {
        color: #fff;
        background-color: #c6883a;
        border-color: #c6883a;
        box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
    }



    .btn-check:checked + .btn-warning,
    .btn-check:active + .btn-warning, .btn-warning:active, .btn-warning.active,
    .show > .btn-warning.dropdown-toggle {
        color: #fff;
        background-color: #c6883a;
        border-color: #c6883a;
    }



        .btn-check:checked + .btn-warning:focus,
        .btn-check:active + .btn-warning:focus, .btn-warning:active:focus, .btn-warning.active:focus,
        .show > .btn-warning.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
        }



    .btn-warning:disabled, .btn-warning.disabled {
        color: #fff;
        background-color: #c6883a;
        border-color: #c6883a;
    }





.btn-outline-success {
    color: #4b7147;
    border-color: #4b7147;
}



    .btn-outline-success:hover {
        color: #fff;
        background-color: #4b7147;
        border-color: #4b7147;
    }



    .btn-check:focus + .btn-outline-success, .btn-outline-success:focus {
        box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
    }



    .btn-check:checked + .btn-outline-success,
    .btn-check:active + .btn-outline-success, .btn-outline-success:active, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show {
        color: #fff;
        background-color: #4b7147;
        border-color: #4b7147;
    }



        .btn-check:checked + .btn-outline-success:focus,
        .btn-check:active + .btn-outline-success:focus, .btn-outline-success:active:focus, .btn-outline-success.active:focus, .btn-outline-success.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(25, 46, 47, 0.5);
        }



    .btn-outline-success:disabled, .btn-outline-success.disabled {
        color: #4b7147;
        background-color: transparent;
    }




/* btn-primary */



.btn-success {
    color: #fff;
    background-color: #4b7147;
    border-color: #4b7147;
}



    .btn-success:hover {
        color: #fff;
        background-color: #578553;
        border-color: #578553;
    }



    .btn-check:focus + .btn-success, .btn-success:focus {
        color: #fff;
        background-color: #578553;
        border-color: #578553;
        box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
    }



    .btn-check:checked + .btn-success,
    .btn-check:active + .btn-success, .btn-success:active, .btn-success.active,
    .show > .btn-success.dropdown-toggle {
        color: #fff;
        background-color: #578553;
        border-color: #578553;
    }



        .btn-check:checked + .btn-success:focus,
        .btn-check:active + .btn-success:focus, .btn-success:active:focus, .btn-success.active:focus,
        .show > .btn-success.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(60, 60, 60, 0.5);
        }



    .btn-success:disabled, .btn-success.disabled {
        color: #fff;
        background-color: #578553;
        border-color: #578553;
    }

.product-image {
    height: 380px; 
    object-fit: cover; 
}

.button {
    --background: #2b3044;
    --background-hover: #1e2235;
    --text: #fff;
    --shadow: rgba(0, 9, 61, .2);
    --paper: #5c86ff;
    --paper-lines: #fff;
    --trash: #e1e6f9;
    --trash-lines: #bbc1e1;
    --check: #fff;
    --check-background: #5c86ff;
    --btn: red;
    position: relative;
    border: none;
    outline: none;
    background: none;
    padding: 10px 24px;
    border-radius: 7px;
    min-width: 142px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    display: flex;
    color: var(--text);
    background: var(--btn, var(--background));
    box-shadow: 0 var(--shadow-y, 4px) var(--shadow-blur, 8px) var(--shadow);
    transform: scale(var(--scale, 1));
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}
.edit-button {
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    --btn: black;
}

    .button span {
        display: block;
        font-size: 14px;
        line-height: 25px;
        font-weight: 600;
        opacity: var(--span-opacity, 1);
        transform: translateX(var(--span-x, 0)) translateZ(0);
        transition: transform 0.4s ease var(--span-delay, 0.2s), opacity 0.3s ease var(--span-delay, 0.2s);
    }

    .button .trash {
        display: block;
        position: relative;
        left: -8px;
        transform: translate(var(--trash-x, 0), var(--trash-y, 1px)) translateZ(0) scale(var(--trash-scale, 0.64));
        transition: transform 0.5s;
    }

        .button .trash:before, .button .trash:after {
            content: '';
            position: absolute;
            height: 8px;
            width: 2px;
            border-radius: 1px;
            background: var(--icon, var(--trash));
            bottom: 100%;
            transform-origin: 50% 6px;
            transform: translate(var(--x, 3px), 2px) scaleY(var(--sy, 0.7)) rotate(var(--r, 0deg));
            transition: transform 0.4s, background 0.3s;
        }

        .button .trash:before {
            left: 1px;
        }

        .button .trash:after {
            right: 1px;
            --x: -3px;
        }

        .button .trash .top {
            position: absolute;
            overflow: hidden;
            left: -4px;
            right: -4px;
            bottom: 100%;
            height: 40px;
            z-index: 1;
            transform: translateY(2px);
        }

            .button .trash .top:before, .button .trash .top:after {
                content: '';
                position: absolute;
                border-radius: 1px;
                background: var(--icon, var(--trash));
                width: var(--w, 12px);
                height: var(--h, 2px);
                left: var(--l, 8px);
                bottom: var(--b, 5px);
                transition: background 0.3s, transform 0.4s;
            }

            .button .trash .top:after {
                --w: 28px;
                --h: 2px;
                --l: 0;
                --b: 0;
                transform: scaleX(var(--trash-line-scale, 1));
            }

            .button .trash .top .paper {
                width: 14px;
                height: 18px;
                background: var(--paper);
                left: 7px;
                bottom: 0;
                border-radius: 1px;
                position: absolute;
                transform: translateY(-16px);
                opacity: 0;
            }

                .button .trash .top .paper:before, .button .trash .top .paper:after {
                    content: '';
                    width: var(--w, 10px);
                    height: 2px;
                    border-radius: 1px;
                    position: absolute;
                    left: 2px;
                    top: var(--t, 2px);
                    background: var(--paper-lines);
                    transform: scaleY(0.7);
                    box-shadow: 0 9px 0 var(--paper-lines);
                }

                .button .trash .top .paper:after {
                    --t: 5px;
                    --w: 7px;
                }

        .button .trash .box {
            width: 20px;
            height: 25px;
            border: 2px solid var(--icon, var(--trash));
            border-radius: 1px 1px 4px 4px;
            position: relative;
            overflow: hidden;
            z-index: 2;
            transition: border-color 0.3s;
        }

            .button .trash .box:before, .button .trash .box:after {
                content: '';
                position: absolute;
                width: 4px;
                height: var(--h, 20px);
                top: 0;
                left: var(--l, 50%);
                background: var(--b, var(--trash-lines));
            }

            .button .trash .box:before {
                border-radius: 2px;
                margin-left: -2px;
                transform: translateX(-3px) scale(0.6);
                box-shadow: 10px 0 0 var(--trash-lines);
                opacity: var(--trash-lines-opacity, 1);
                transition: transform 0.4s, opacity 0.4s;
            }

            .button .trash .box:after {
                --h: 16px;
                --b: var(--paper);
                --l: 1px;
                transform: translate(-0.5px, -16px) scaleX(0.5);
                box-shadow: 7px 0 0 var(--paper), 14px 0 0 var(--paper), 21px 0 0 var(--paper);
            }

        .button .trash .check {
            padding: 4px 3px;
            border-radius: 50%;
            background: var(--check-background);
            position: absolute;
            left: 2px;
            top: 24px;
            opacity: var(--check-opacity, 0);
            transform: translateY(var(--check-y, 0)) scale(var(--check-scale, 0.2));
            transition: transform var(--check-duration, 0.2s) ease var(--check-delay, 0s), opacity var(--check-duration-opacity, 0.2s) ease var(--check-delay, 0s);
        }

            .button .trash .check svg {
                width: 8px;
                height: 6px;
                display: block;
                fill: none;
                stroke-width: 1.5;
                stroke-dasharray: 9px;
                stroke-dashoffset: var(--check-offset, 9px);
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke: var(--check);
                transition: stroke-dashoffset 0.4s ease var(--checkmark-delay, 0.4s);
            }

    .button.delete {
        --span-opacity: 0;
        --span-x: 16px;
        --span-delay: 0s;
        --trash-x: 46px;
        --trash-y: 2px;
        --trash-scale: 1;
        --trash-lines-opacity: 0;
        --trash-line-scale: 0;
        --icon: #fff;
        --check-offset: 0;
        --check-opacity: 1;
        --check-scale: 1;
        --check-y: 16px;
        --check-delay: 1.7s;
        --checkmark-delay: 2.1s;
        --check-duration: 0.55s;
        --check-duration-opacity: 0.3s;
    }

        .button.delete .trash:before, .button.delete .trash:after {
            --sy: 1;
            --x: 0;
        }

        .button.delete .trash:before {
            --r: 40deg;
        }

        .button.delete .trash:after {
            --r: -40deg;
        }

        .button.delete .trash .top .paper {
            animation: paper 1.5s linear forwards 0.5s;
        }

        .button.delete .trash .box:after {
            animation: cut 1.5s linear forwards 0.5s;
        }

    .button.delete, .button:hover {
        --btn: var(--background-hover);
        --shadow-y: 5px;
        --shadow-blur: 9px;
    }

    .button:active {
        --shadow-y: 2px;
        --shadow-blur: 5px;
        --scale: 0.94;
    }

@keyframes paper {
    10%, 100% {
        opacity: 1;
    }

    20% {
        transform: translateY(-16px);
    }

    40% {
        transform: translateY(0);
    }

    70%, 100% {
        transform: translateY(24px);
    }
}

@keyframes cut {
    0%, 40% {
        transform: translate(-0.5px, -16px) scaleX(0.5);
    }

    100% {
        transform: translate(-0.5px, 24px) scaleX(0.5);
    }
}